@import "tailwindcss";

@theme {
  --color-background: #0f172a; /* Slate 900 */
  --color-foreground: #f8fafc; /* Slate 50 */
  --font-sans: var(--font-inter);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased min-h-screen flex flex-col;
  }
}
